@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(to right, rgb(250, 167, 0), rgb(255, 50, 22));
}

.calculadora {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    justify-content: center;
}

.calculadora > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
}

.calculadora >button:hover{
    background-color: #E68D2E;
}

.span-two {
    grid-column: span 2;
    background-color: rgb(252, 236, 200);
}

.output {
    background-color: rgba(0,0,0, .75);
    grid-column: 1 / -1 ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .res_anterior{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
} 

.output .res_atual{
    color: white;
    font-size: 2.5rem;
} 